<!-- templates/register.html -->
<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head><title>Rejestracja</title></head>
<body>
<h2>Zarejestruj się</h2>
<form th:action="@{/register}" th:object="${user}" method="post">
    <label>Login: <input type="text" th:field="*{username}" /></label><br>
    <label>Hasło: <input type="password" th:field="*{password}" /></label><br>
    <button type="submit">Zarejestruj</button>
</form>
<div th:if="${param.error}">
    <p style="color:red;">Użytkownik już istnieje!</p>
</div>
</body>
</html>